@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    max-height: 100dvh;
    background: #F5F5F7;
    
}

form {
    background: #fff;
     width: min(90%, 400px);
     padding: min(5vw, 40px);
    padding: 0.9rem;
    border-radius: 10px;
    margin: 1rem auto;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.05),
  0 8px 20px rgba(0, 0, 0, 0.06);
;

}

h1 {
    text-align: center;
    padding-block: 0.8rem;
    color: #111111;
}

p {
    
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
}



form input {
    padding-block: 0.8rem;
    padding-left: 12px;
    caret-color: #2563EB;
    width: 65%;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    background: #FFFFFF;
    
}

input::placeholder {
  color: #9CA3AF;
}

form select {
    padding-block: 0.8rem;
    width: 28%;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}

form button {
    padding-block: 0.8rem;
    margin-block: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: #fff;
    background: #2563EB;
}


input:focus, select:focus {
    outline-color: #2563EB;
}

.select-box {
  position: relative;
  display: flex;
  width: 35%; /* enough width so letters never hide */
}

.select-box select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 12px 48px 12px 16px; /* more right padding */
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500; /* clearer and more readable */
  color: #111;
  cursor: pointer;
  outline: none;

  transition: border-color 0.2s, box-shadow 0.2s;
}

/* focus style */
.select-box select:focus {
  border-color: #2563EB;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 4px 12px rgba(0, 0, 0, 0.08);
}

/* custom arrow */
.select-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;

  width: 8px;   /* smaller arrow */
  height: 8px;

  transform: translateY(-50%) rotate(45deg);
  border-right: 1.8px solid #777;
border-bottom: 1.8px solid #777;


  pointer-events: none;
}

.row {
    display: flex;
    gap: 14px;
    width: 100%;
}
